@charset "utf-8";
body{
    background-color: #FFFFFF;
}
.tit2 span{
    color: #9AC31C;
}
.form{
    padding: 0 16px;
}
.form label{
    color: #373737;
    display: block;
    margin-bottom: 14px;
}
.form label[for="nickname"]{
    margin-bottom: 0;
}
.m4 label{
    margin-bottom: 4px !important;
}
.form input{
    border: none;
    border-bottom: 0.8px solid #E2E2E2;
    border-radius: 0;
    padding: 0 0 8px 0 !important;
    width: calc(100% - 111px);
}

.form_wrap #name, 
.form_wrap #email, 
.form_wrap #price,
.form_wrap #pfcode,
.form_wrap #petName,
.form_wrap #petTypeWri,
.form_wrap #petBreed,
.form_wrap #reserCancel{
    width: 100%;
}
.form button{
    margin-left: 10px;
    color: #373737;
}
.form p{
    font-size: 10px;
}
.care_pic .form_wrap{
    background-color: #FFFFFF;
    padding: 0 16px;
}
.form_wrap .upload-name {
    margin-top: 14px;
}
.form .form_wrap:nth-of-type(n+2){
    margin-top: 24px;
}
.form_wrap{
    position: relative;
}
.btn_close2{
    position: absolute;
    bottom: 8px;
    right: 0;
}
.form_wrap .wid97 + .btn_close2, .form_wrap .count{
    position: absolute;
    bottom: 8px;
    right: 111px;
    color: #A3A3A3;
}
#formPw input, 
#formCharge input{
    width: 100%;
}
#formPw input::placeholder{
    font-size: 12px;
}
#formPw button, 
#formEmail button, 
#formPrice button, 
#formCharge button,
#formPetCode button{
    right: 0;
}
#formPrice{
    border-top: 0.8px solid #F5F5F5;
    padding-top: 35px;
}

.form textarea,
.complete_wrap .textarea{
      width: 100%;
      height: 200px;
      border: 0.8px solid #E2E2E2;
      border-radius: 10px;
      font-size: 12px;
      color: #626262;
      padding: 16px;
      resize: none;
      line-height: 20px;
}
.form textarea::placeholder{
    color: #A3A3A3;
    font-size: 12px;
}
#modalReportCheck h3 span{
      color: #9AC31C;
}
.form_wrap .upload-name{
    display: block;
    border: 0.8px solid #E2E2E2;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    color: #626262;
    margin-bottom: 0;
}

.img_wrap{
        padding: 20px 40px 24px 40px;
        text-align: center;
}
.file_img{
        position: relative;
        display: inline-block;
        margin-top: 12px;
}
.file_img img{
        width: 80px;
        height: 80px;
        display: inline-block;
}
.file_img:not(:first-of-type){
        margin-left: 8px;
}
