@charset "utf-8";
.agree_box{
    padding: 74px 16px 0 16px;
    line-height: 20px;

}
.agree_box .logo{
    width: 67px;
    height: 32px;
}
.agree_box .tit2{
    padding: 6px 0 34px 0;
    line-height: 20px;
}
.agree_list .allow_box{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 24px;
    border-bottom: 0.5px solid #E2E2E2;
}
.agree_list ul{
    margin-top: 24px;
    font-size: 12px;
    color: #373737;
}
.agree_list ul li{
    position: relative;
}
.md_open_btn{
    background-position: 0 -36px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}
.agree_list ul li:nth-child(2){
    margin-top: 14px;
}
.agree_list ul li:nth-child(2) p{
    color: #A3A3A3;
    font-size: 10px;
    padding: 2px 0 0 25px;
    line-height: 10px;
}