@charset "utf-8";
.search_box{
    /* margin: 60px 16px 28px 16px; */
    background-color: #FFFFFF;
}
.tit2{
    padding-bottom: 0;
}
.search_box .tit2 + div{
    position: relative;
    margin-top: 10px;
    width: 100%;
    font-size: 0;
    line-height: 0;
    padding: 0 16px;
}
.search_box input[type="text"]{
    height: 42px;
    background: #F5F5F5;
    border-radius: 0;
    width: calc(100% - 52px);
    margin-right: 8px;
    font-size: 15px;
}
.search_box input::placeholder{
    font-size: 14px;
    font-family: NanumGothic;
}
.search_box input[type="text"] + button{
    border: 0.8px solid #E2E2E2;
    height: 42px;
    vertical-align: top;
    padding: 9px;
}
.btn_close2.sprite{
    position: absolute;
    background-position: 0 0;
    top: 9px;
    right: 72px;
}
.search_box button .sprite{
    background-position: -240px 0;
}
.search_box > button{
    display: inline-block;
    line-height: 42px;
    text-align: center;
    border: 0.8px solid #E2E2E2;
    font-size: 15px;
    margin: 10px 16px;
    width: calc(100% - 32px);
}
.search_box p span.sprite2{
    background-position: 1px -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.search_box p span:last-of-type{
    display: inline-block;
}
.setting_box{
    background-color: #F5F5F5;
}

.setting_area h3, .setting_before h3{
    font-size: 15px;
    line-height: 68px;
    padding: 0 16px;
    color: #373737;
}
.area_wrap{
    padding: 20px 16px;
    background: #ffffff;
    color: #373737;
}
.setting_before .area_wrap{
    margin-bottom: 6px;
}
.setting_before .area_wrap{
    position: relative;
}
.setting_before .btn_close{
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    background-position: 0 0;
    /* background: url(../images/login_icon.svg) no-repeat; */
}