@charset "utf-8";
body{
    background-color: #FDFDFD;
    overflow: hidden;
}
.sign_up {
    margin: 156px auto 0;
    padding: 0 16px;
}
.sign_up .logo{
    width: 92px;
    height: 44px;
    margin: 0 auto 24px;
}
.sign_up .tit2{
    line-height: 20px;
    padding: 0 23px; 
    margin: 0 auto;
}
.sign_up button{
    margin: 24px 0;
    border: 0.8px solid #E2E2E2;
    border-radius: 10px;
    line-height: 58px;
    width: 100%;
    font-size: 16px;
    color: #9AC31C;
}

.sign_message p:last-of-type{
    text-align: center;
    color: #A3A3A3;
    font-size: 12px;
}
.sign_message p:last-of-type a{
    color: #373737;
}

.login_cnt{
    width: 229px;
    margin: 0 auto;
}
.sign_success .tit2{
    padding: 0 0 24px 16px;

}
.sign_success p{
    position: relative;
}
.sign_success p:not(:last-child){
    padding-left: 15px;
    line-height: 12px;
    margin-bottom: 20px;
}
.sign_success p:not(:last-child):before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../images/login_icon.png) no-repeat top 0 left -28px / cover;
    width: 13px;
    height: 13px;
}
.sign_success a{
    display: block;
    text-align: right;
    color: #FF5555;
    font-size: 10px;
    padding-right: 15px;
}
.sign_success a p::after{
    content: "";
    position: absolute;
    top: 0;
    background: url(../../images/login_icon.png) no-repeat top 1px left -45px / cover;
    width: 15px;
    height: 15px;
}



