@charset "utf-8";
body{
    background-color: #FFFFFF;
}
.content{
    margin: 68px 16px 0 16px;
}
.email_wrap,
.pw_wrap{
    position: relative;
}
.pw_wrap{
    margin-top: 14px;
}
.email_wrap input,
.pw_wrap input{
    height: 54px;
    width: 100%;
    font-size: 14px;
}
form label[for="login"]{
    color: #A3A3A3;
    display: inline-block;
    margin-top: 14px;
    font-size: 14px;
}
form .btn_close2{
    position: absolute;
    top: 15px;
    right: 16px;
}

.login_wrap{
    position: relative;
    font-size: 14px;
}
.login_wrap .btn_login {
    display: block;
    background: #CCCCCC;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
    margin: 24px 0 14px 0;
} 
.login_wrap a{
    position: relative;
    font-size: 12px; 
    line-height: 12px;
    padding-right: 24px;
    display: inline-block;
}
.login_wrap a:first-of-type::after{
    content: "";
    position: absolute;
    top: 0;
    right: 8px;
    height: 12px;
    width: 1px;
    background: #E2E2E2;
}
.login_wrap a:last-of-type{
    position: absolute;
    right: 0;
    bottom: 4px;
    padding-right: 0;
}

.login_account{
    font-size: 14px;
    font-weight: 700;
}
.login_account button{
    width: 100%;
}
.login_account button:first-of-type{
    background: #2DB400;
    color: #ffffff;
    line-height: 50px;
    display: block;
    border-radius: 10px;
    margin-top: 34px;
    text-align: center;
}

.login_account button:nth-of-type(2){
    background: #FFD800;
    color: #ffffff;
    line-height: 50px;
    display: block;
    margin-top: 14px;
    border-radius: 10px;
    text-align: center;
}
.naver, .kakao{
    position: relative;
}
.naver::before, .kakao::before{
    content: "";
    position: absolute;
    background: url(../../images/login_icon.png) no-repeat -18px 0 / cover;
}
.naver::after, .kakao::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background: #FFFFFF;
    top: 0;
    left: 52px;
}
.naver::before{
    width: 16px;
    height: 15px;
    top: 18px;
    left: 18px;
}
.kakao::before{
    background-position: 0 0;
    width: 21px;
    height: 18px;
    top: 17px;
    left: 17px;
}
