@charset "utf-8";
body{
    background-color: #FFFFFF;
}
.goback_area p{
    color: #292929;
}
.title_top{
    margin-top: 84px;
}
.title_top strong{
    font-size: 20px;
    color: #373737;
    line-height: 25px;
    padding: 0 16px;
}
.title_top strong span{
    color: #9AC31C;
}
.title_top p:first-of-type{
    position: relative;
    font-size: 14px;
    padding-left: 22px;
    width: 346px;
    margin-top: 8px;    
    padding: 0 38px;
}
.title_top p:first-of-type::after{
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    background: url(../../images/icon_alert.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.title_top p:nth-of-type(2){
    margin-top: 2px;
    font-size: 10px;
    line-height: 15px;
    color: #A3A3A3;
    margin-bottom: 14px;
    padding: 0 13px 0 16px;
}
.title_guide{
    margin: 14px 16px 0 16px;
}
.title_guide table{
    width: 100%;
}
.wid130{
    width: 130px;
}
.wid83{
    width: 83px;
}
.wid120{
    width: 120px;
}
.title_guide table tr th{
    font-weight: 400;
}
.title_guide table thead tr:first-of-type th{
    height: 38px;
    background-color: #9AC31C;
    width: 100%;
    color: #FFFFFF;
    font-weight: 400;
}
.title_guide table thead tr:nth-of-type(2){
    height: 48px;
    background-color: #F4FFD2;
    width: 100%;
}
.title_guide table tbody{
    text-align: center;
    border-bottom: 1px solid #9AC31C;
}
.title_guide table tbody tr{
    height: 48px;
}
.title_guide table tbody tr:nth-of-type(3){
    padding-bottom: 10px;
}
.title_guide table tbody tr td span{
    color: #9AC31C;
}
.alert{
    color: #FF5555;
    margin-top: 24px;
    padding: 0 16px 24px 16px;
}