@charset "utf-8";
body{
    background-color: #F5F5F5;
}
.main_tab{
    margin-top: 60px;
}
.main_tab > div:last-of-type{
    margin-bottom: 24px;
}
.main_tab .tab.on{
    background-color: #9AC31C;
    color: #FFFFFF;
    border-color: #9AC31C;
}
.main_tab .tablist{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
    padding: 14px 16px;
    white-space: nowrap;
    overflow: auto;
}
.main_tab .tablist li{
    background-color: #FFFFFF;
    border: 0.8px solid #E2E2E2;
    border-radius: 100px;
    padding: 0 16px;
    line-height: 24px;
    text-align: center;
    color: #9AC31C;
    margin-right: 6px;
}
.main_tab .tablist .period{
    position: relative;
    padding: 0 14px 0 32px;
}
.main_tab .tablist .period::before{
    content:"";
    position: absolute;
    top: 5px;
    left: 14px;
    background: url(../../images/icon_calender.png);
    background-size: cover;
    width: 14px;
    height: 14px;
}
.proceed{
    margin: 0 16px;
}
.writer_wrap,
.proceed .writer_wrap{
    background: #FFFFFF;
    margin-top: 8px;
    border-radius: 10px;
}
.main_tab .proceed .writer_wrap{
    position: relative;
    border: 0.8px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, rgba(154, 195, 28, 0.4) 0%, #9AC31C 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.tabpanel{
    margin: 0 16px;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
}
.tabpanel.on{
    visibility: visible;
    max-height: max-content;
}

.writer_info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: dashed;
}
.writer_info2 .tab_txt{
    padding: 0 10px;
    height: 24px;
    text-align: center;
    border: 0.8px solid #9AC31C;
    border-radius: 5px;
}
.writer_info2 .tab_txt.c_r{
    border-color: #FF5555 !important;
}
.writer_info2 .tab_txt.c_ga{
    border-color: #A3A3A3 !important;
} 

.writer_cnt2 .reservation_tit{
    font-size: 10px;
    line-height: 10px;
}
.writer_cnt2 .reservation_txt{
    font-size: 14px;
}
.writer_cnt2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.writer_cnt2 button{
    background-position: 6px -33px;
}
.proceed_cnt .writer_cnt2{
    border-bottom: 0.8px dashed #E2E2E2;
}

/* 산책시작하기 후 활성화된 영역 */
.writer_cnt2 .rotate{
    transform: rotate(90deg);
}
.reservation_detail .writer_cnt2.on .rotate,
.review_detail .writer_cnt2.on .rotate{
    transform: rotate(270deg);
}
.reservation_detail .writer_cnt2.on,
.review_detail .writer_cnt2.on{
    border-bottom: none;
}
.reservation_detail .walk_wrap,
.review_detail .review_box{
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
}
.walk_wrap .walk_map{
    background: url(../../images/map.jpg) no-repeat center / cover;
    width: 100%;
    height: 335px;
}
.walk_wrap .walk_tit{
    font-size: 20px;
    padding: 24px 0;
    margin: 0 16px;
    border-bottom: 0.8px dashed #E2E2E2;
    color: #373737;
}
.walk_wrap .walk_cnt{
    padding: 24px 0;
    margin: 0 16px;
    border-bottom: 0.8px dashed #E2E2E2;
}
.walk_wrap .walk_cnt > p{
    padding-bottom: 16px;
    padding-right: 64px;
}

.dog_type{
    display: inline-block;
    background: #F6F6F6;
    color: #9AC31C;
    width: 54px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 10px;
    margin-top: 14px;
}
.review_tit2{
    position: relative;
}
.review_tit2 strong{
    display: block;
    font-size: 12px;
} 
.review_tit2 .rate_gray{
    display: flex;
    margin-top: 4px;
}
.review_tit2 .rate_green + p{
    color: #9AC31C !important;
    font-size: 12px;
    margin-top: 0;
    margin-left: 6px;
    line-height: 12px;
}
.rate_gray {
    position: relative;
}
.rate_gray > img{
    width: 74px;
    height: 13px;
}
.rate_green img{
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
}
.rate_green img:nth-of-type(2){
    left: 15px;
}
.rate_green img:nth-of-type(3){
    left: 31px;
}
.rate_green img:nth-of-type(4){
    left: 47px;
}
.rate_green img:nth-of-type(5){
    left: 62px;
}
.review_wrap{
    margin: 24px 16px;
}
.review_wrap .img_area{
    margin: 14px 0;
}


/* .review_box{
    margin: 0 16px;
} */
.review_box > p{
    position: relative;
    border: 0.8px solid #E2E2E2;
    border-radius: 10px;
    color: #9AC31C;
    padding: 24px 0;
    text-align: center;
    margin: 24px 16px;
}
.review_box .review_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../images/icon_review.png);
    background-size: cover;
    vertical-align: middle;
}
.btn_disapprove,
.btn_approve,
.btn_cancel,
.walk_btn,
.btn_walk_approve{
    background-color: #FF5555;
    color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    margin: 48px 16px 0 16px;
    text-align: center;
    border-radius: 10px;
}
.btn_cancel{
    margin-top: 34px;
}
.btn_approve{
    background-color: #9AC31C;
}
.btn_approve .approve_icon{
    display: inline-block;
    background: url(../../images/icon_approve.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.btn_cancel{
    background-color: #373737;
}
.btn_review{
    background-color: #9AC31C;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.bd_dark{
    margin-bottom: 24px;
}

.proceed_cnt{
    margin-top: 60px;
}
.map{
    background: url(../../images/map.jpg) no-repeat center / cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.icon_position{
    position: relative;
    width: 42px;
    height: 42px;
    background-position: 5px -80px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon_position::after{
    content: "";
    background: url(../../images/icon_position.svg);
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    color: #9AC31C;
}
.operation_area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 194px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.25);
}
.operation_area::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 86px;
    width: 1px;
    background: #E2E2E2;
}
.operation_btn div img,
.operation_camera div img{
    width: 66px;
    height: 66px;
}
.operation_btn{
    margin-right: 120px;
}
.operation_btn .stop_icon{
    display: none;
}
.operation_area .camera_icon{
    position: relative;
}
.operation_area .camera_icon .alarm_count,
.operation_area .camera_icon .alarm_count5{
    position: absolute;
    top: 0;
    right: -4px;
    background-color: #FF5555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.operation_area .camera_icon .alarm_count5{
    background-color: #CCCCCC;
}

.operation_area p{
    text-align: center;
    margin-top: 8px;
}
.walk_pic,
.memo_tit{
    border-bottom: 0.8px dashed #E2E2E2;
}
.walk_pic{
    margin: 0 16px;
    padding-bottom: 34px;
}
.walk_pic ul {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}
.walk_pic ul li{
    position: relative;
    margin-right: 6px;
}
.walk_pic ul li img{
    width: 80px;
    height: 80px;
    
}
.memo_tit{
    margin: 0 16px;
    padding: 20px 0;
    font-size: 14px;
}
.memo_cnt{
    margin: 0 16px;
}
.memo_cnt textarea{
    width: 100%;
    height: 317px;
    padding-top: 16px;
    resize: none;
    border: none;
    background: none;
    font-size: 12px;
    margin-bottom: 24px;
    border-bottom: 0.8px dashed #E2E2E2;
}
.memo_cnt textarea::placeholder{
    color: #A3A3A3;
    font-size: 12px;
}
.bd_dark_cnt p{
    position: relative;
    padding-left: 15px;
}
.bd_dark_cnt p:nth-of-type(n+2){
    margin-top: 2px;
}
.bd_dark_cnt p::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #A3A3A3;
}


.reviewer{
    text-align: center;
    padding: 24px 0 44px 0;
    margin: 0 16px;
    border-bottom: 0.8px dashed #E2E2E2;
}
.reviewer .pic img{
    width: 56px;
    height: 56px;
}
.reviewer .info p{
    color: #373737;
    margin-top: 8px;
}
.reviewer .info .rate{
    position: relative;
    background: url(../../images/rate_gray.png) no-repeat;
    width: 160px;
    height: 25px;
    background-size: cover;
    margin: 24px auto 0;
}
.reviewer .info .rate img{
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
}
.reviewer .info .rate img:nth-of-type(1){
    left: 0;
}
.reviewer .info .rate img:nth-of-type(2){
    left: 33px;
}
.reviewer .info .rate img:nth-of-type(3){
    left: 66px;
}
.reviewer .info .rate img:nth-of-type(4){
    left: 101px;
}
.reviewer .info .rate img:nth-of-type(5){
    left: 134px;
}

.review_page{
    margin: 84px 16px 0 16px;
}
.grade{
    margin-top: 24px;
}
.reviewer .grade img{
    width: 28px;
    height: 25px;
}
.grade img{
    margin-right: 7px;
}



.filter {
    margin-top: 60px;
    border-top: 0.8px solid #E2E2E2;
    white-space: nowrap;
    overflow: auto;
    background: #FFFFFF;
}
.filter ul{
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 54px;
    
}
.filter ul li{
    background-color: #F5F5F5;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 8px ;
    height: 26px;
    line-height: 26px;
    padding: 0 10px; 
    vertical-align: middle;
}
.filter ul li:first-of-type{
    width: 26px;
    height: 26px;
    padding: 0 6px;
}
.filter ul li img{
    width: 14px;
    height: 10px;
    vertical-align: middle;
}
.walk_list{
    margin: 0 16px;
}
.walk_list > div:first-of-type{
    margin-top: 14px;
}
.walk_list > div:last-of-type{
    margin-bottom: 14px;
}
.writer_info2 .pic{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
    float: left;
}
.writer_info2 .pic img{
    width: 100%;
    height: 100%;
}
.walk_list .writer_info2{
    padding: 0;
    margin: 0;
    display: block;
}
.walk_list .writer_info2 .writer,
.walk_list .writer_cnt2{
    margin: 0 24px;
    padding: 22px 0;
}