@charset "utf-8";
body{
    background-color: #F5F5F5;
}
.wrap{
    margin-top: 60px;
}
.progress_bar .bar_green{
    width: 80%;
}
.address_tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 24px 16px 24px 16px;
}
.address_tit .tit2{
    padding: 0;
    margin-top: 0;
}
.address_tit button{
    background-color: #9AC31C;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: #FFFFFF;
}
.area_wrap{
    background-color: #FFFFFF;
    margin-top: 1px;
    padding: 20px 16px;
}
