@charset "utf-8";
.btn_chat{
    margin: 0 0 16px 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 0.8px solid #E2E2E2;
}
.more .more_btn div {
    width: 2px;
    height: 2px;
    background: #ACACAC;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 30px;
}
/* mypage_alarm과 동일한 레이아s웃 */
.chat_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 24px 16px;
    font-size: 14px;
}
div .chat_box:first-of-type{
    margin-top: 84px;
}
div .chat_box:nth-of-type(n+2){
    margin-top: 6px;
}
div .chat_box:last-of-type{
    margin-bottom: 6px;
}
.chat_left{
    display: flex;
    width: 90%;
}
.chat_left .pic{
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-right: 8px;
    border-radius: 50%;
}
.chat_txt{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.lineclamp{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow : hidden; 
}
.chat_left .pic img{
    width: 52px;
    height: 52px;
}
.time{
    color: #A3A3A3;
}
.chat_left .time{
    font-size: 10px;
}
.chat_box button,
.setting_box button,
.policy button{
    background-position: 9px -34px;
}


.chatting_wrap{
    padding: 84px 16px 108px 16px;
}
.chatting_wrap p{
    word-break: break-all;
}
.chatting_wrap::after{
    content:"";
    display: block;
    clear: both;
}

.chatting_wrap .other_wrap{
    display: inline-block;
    margin-top: 14px;
    float: left;
}
.chatting_wrap .pic_other{
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}
.chatting_wrap .pic_other img,
.chatting_wrap .pic_me img{
    width: 36px;
    height: 36px;
    vertical-align: middle;
}
.chatting_wrap .message p{
    border-radius: 20px;
    display: inline-block;
    background-color: #F5F5F5;
    height: 100%;
    padding: 8px 16px;
    max-width: calc(100% - 88px);
}
.chatting_wrap .time{
    font-size: 10px;
    vertical-align: bottom;
}



.other_wrap + .message,
.my_wrap + .message_my{
    max-width: calc(100% - 50px) !important;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.other_wrap + .message{
    display: flex;
    align-items: flex-end;
    margin-top: 14px;
}
.other_wrap + .message p{
    border-radius: 0 20px 20px 20px;
}
.message{
    display: flex;
    align-items: flex-end;
    margin: 8px 8px 0 44px;
}
.message .time{
    margin-left: 8px;
}


.chatting_wrap .message_my{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 8px 53px 0 0; 
}
.chatting_wrap .message_my p{
    border-radius: 20px;
    max-width: calc(100% - 88px);
}
.chatting_wrap .my_wrap{
    margin-top: 14px;
    float: right;
}
.chatting_wrap .pic_me{
    margin-left: 8px;
}
.my_wrap + .message_my{
    margin: 14px 0 0 0;
}
.my_wrap + .message_my p{
    border-radius: 20px 0 20px 20px;
    float: right;
}
.chatting_wrap .message_my p{
    display: inline-block;
    background-color: #9AC31C;
    color: #FFFFFF;
    height: 100%;
    padding: 8px 16px;
}
.message img,
.message_my img{
    max-width: calc(100% - 88px);
    height: auto;
    border-radius: 20px;
}

.message_my .time{
    margin-right: 8px;
}


.reply_wrap{
    display: table;
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    padding: 0 16px;
}
.reply_wrap .btn_more{
    vertical-align: middle;
    display: table-cell;
    position: relative;
    bottom: 22px;
    background-color: #FFFFFF;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.reply_wrap .upload-name::before,
.reply_wrap .upload-name::after{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 14px;
    background-color: #9AC31C;
}
.reply_wrap .upload-name::after{
    width: 14px;
    height: 2px;
}
.reply_box2{
    position: relative;
    display: inline-block;
    width: calc(100% - 66px);
}
.reply_box2 textarea{
    background: #FFFFFF;
    border-radius: 10px;
    margin: 22px 0 0 16px;
    color: #A3A3A3;
    font-size: 14px;
    height: 50px;
    border: none;
    width: 100%;
    padding: 9px 62px 9px 14px;
}
.reply_box2 textarea + button{
    position: absolute;
    bottom: 16px;
    right: 0;
    width: 42px;
    height: 30px;
    background-color: #9AC31C;
    color: #FFFFFF;
    border-radius: 10px;
}
