@charset "utf-8";
body{
    background-color: #F5F5F5;
}
.goback_area p{
    color: #292929;
}
.content{
    margin: 60px 0 100px 0;
}
.section{
    background: #FFFFFF;
    margin: 12px 16px 3px 16px;
    border-radius: 10px;
    padding: 24px 0;
}
.section:not(:first-of-type){
    padding: 24px 0;
}
.section:nth-of-type(n+3){
    margin-top: 6px;
}

.section1{
    padding: 14px 16px;
    border-top: 0.8px solid #F5F5F5;
    margin: 0;
    border-radius: 0;
}

