@charset "utf-8";
body{
    background-color: #F9F9F9;
}
.section{
    background-color: #FFFFFF;
}
header{
    height: 0;
}
.goback_area{
    background-color: transparent;
    padding: 0;
}
.goback_area .goback{
    background: url(../../images/icon_goback_white.png) no-repeat center / cover;
    width: 24px;
    height: 24px;
    background-size: cover;
}
.floating{
    font-size: 0;
    line-height: 0;
    padding: 0;
    height: 60px;
}
.floating .chat{
    position: relative;
    width: 50%;
    background: #F5F5F5;
    height: 100%;
    text-align: center;
    font-size: 14px;
}
.floating .chat{
    padding-left: 16px;
}
.floating .chat::before{
    content: "";
    position: absolute;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    left: calc(50% - 39px);
    background: url(../../images/icon_chat.png) no-repeat center / cover;
    width: 16px;
    height: 16px;
}
.floating .reservation{
    background: #9AC31C;
    color: #FFFFFF;
    height: 100%;
    width: 50%;
    font-size: 14px;
}
.box{
    margin-top: 28px;
    border: 0.8px dashed #E2E2E2;
    border-radius: 10px;
    padding: 0 16px;
}
.star{
    display: inline-block;
    background: url(../../images/care_icon.png) no-repeat;
    background-size: cover;
}
.box .line1{
    border-bottom: 0.8px dashed #E2E2E2;
}
.box .line1 .star{
    background-position: -11px 0;
    width: 10px;
    height: 10px;
}
.box > div > p:last-of-type{
    font-size: 18px;
    color: #9AC31C;
}
.box .line2{
    line-height: auto;
}
.box .line2 p{
    line-height: 12px;
}
.box .line2 p span{
    font-size: 8px;
    display: block;
    color: #a3a3a3;
    margin-top: 4px;
}
.box .line1,  .box .line2{
    padding: 24px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .line2{
    height: 68px;
}

.section1 .swiper-slide img{
    height: 375px;
    width: 100%;
    object-fit: cover;
}
.section2{
    padding: 24px 16px 40px 16px !important;
}
.section2 .writer_info{
    padding: 24px 0 14px 0;
}
.section .writer_info .more .more_btn div{
    margin-left: 0;
}
.section3{
    padding: 34px 16px 44px 16px !important;
    text-align: center;
    border-top: 0.8px solid #F6F6F6 ;
}
.section3 h4{
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 24px;
}
.section3 h4::after{
    content:"";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(228, 249, 165, .64);
}
.section3 strong{
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 58px;
}
.section4{
    padding: 44px 16px !important;
}
.section4,
.section5{
    border-top: 0.8px solid #F5F5F5 ;
}
.section.section5{
    position: relative;
    padding: 44px 0 0 0;
}
.section4 h4, .section5 h4{
    font-size: 14px;
    color: #373737;
}
.section4 p, .section5 > p{
    font-size: 12px;
    margin: 24px 64px 34px 0;
    line-height: 14px;
}
.section5 h4, .section5 > p, .section5 .care_type_wrap{
    padding: 0 16px;
}
.loves_box{
    display: flex;
    justify-content: flex-end;
    padding: 14px 0;
    border-top: 1px solid #F5F5F5;
    margin-top: 44px;
}
.section5 .loves{
    margin-top: 1px;
}
.section5 .care_type{
    position: relative;
    border: 0.8px solid #E2E2E2;
    border-radius: 10px;
    padding: 24px;
}
.section5 .care_type::after{
    content:"";
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url(../../images/check.png);
    background-size: cover;
}
.section5 .care_type:not(:first-of-type){
    margin-top: 4px;
}
.section5 .care_type strong{
    display: inline-block;
    line-height: 12px;
}
.section5 .care_type p{
    color:#A3A3A3;
    font-size: 10px;
    line-height: 10px;
}
.care_type_wrap{
    padding-bottom: 44px !important;
}
.loves_box{
    margin-top: 1px;
    padding: 14px 16px;
}
.section5 .loves{
}
.section.section6{
    padding: 12px 21px 17px 24px;
}
.section:nth-of-type(n+6){
    margin-top: 8px;
}
.review_rate > dl{
    display: flex;
    align-items: center;
}
.review_rate > dl > dt{
    text-align: center;
    padding-top: 10px;
}
.review_rate > dl > dd{
    margin-left: 32px;
    width: 80%;
}
.review_tit strong{
    display: block;
}
.review_tit div:first-of-type{
    font-size: 24px;
    margin-top: 2px;
}
.rate_wrap{
    position: relative;
    margin-top: 12px;
}
.rate_gray {
    position: relative;
    margin-top: 12px;
}
.rate_gray > img{
    width: 72px;
    height: 12px;
}
.review_tit .rate_gray + .rate_green{
    position: absolute;
    margin-top: 0 !important;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}
.rate_gray + .rate_green img{
    position: initial;
}
.review_tit .rate_green{
    margin-top: 0 !important;
    text-align: center;
    left: 0;
    right: 0;
}
.rate_green img{
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
}
.rate_green img:nth-of-type(2){
    left: 15px;
}
.rate_green img:nth-of-type(3){
    left: 30px;
}
.rate_green img:nth-of-type(4){
    left: 45px;
}
.rate_green img:nth-of-type(5){
    left: 60px;
}


.review_tit2{
    position: relative;
}
.review_tit2 strong{
    display: block;
    font-size: 12px;
} 
.review_tit2 .rate_gray{
    display: flex;
    margin-top: 4px;
}
.review_tit2 .rate_green + p{
    color: #9AC31C !important;
    font-size: 12px;
    margin-top: 0;
    margin-left: 6px;
    line-height: 12px;
}
.review_bar{
    height: 6px;
    line-height: 0;
    width: 100%;
}
.review_bar .rate_5{
    width: 100%;
}
.review_bar dt{
    display: inline-block;
    font-size: 10px;
}
.review_rate .bar_bg{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 64px);
    height: 6px;
    margin: 0 4px 0 8px;
    background-color: #F6F6F6;
    border-radius: 100px;
}
.review_bar .rate{
    color: #A3A3A3;
    font-size: 10px;
}
.bar_green img{
    display: inline-block;
    background-color: #9AC31C;
    height: 6px;
    border-radius: 100px;
}
.rate_1 .bar_green img{
    width: 20%;
}
.rate_2 .bar_green img{
    width: 40%;
}
.rate_3 .bar_green img{
    width: 60%;
}
.rate_4 .bar_green img{
    width: 80%;
}
.rate_5 .bar_green img{
    width: 100%;
}
.section7{
    padding: 14px 16px !important;
}
.section8, .section9, .section10{
    padding: 24px 16px 24px 16px;
}
.writer_info{
    padding: 0 !important;
}
.dog_type{
    display: inline-block;
    background: #F6F6F6;
    color: #9AC31C;
    width: 54px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 10px;
    margin-top: 14px;
}
.review_cnt{
    margin-top: 14px;
}
.img_area{
    margin: 14px 0;
}
.section:last-of-type{
    margin-bottom: 100px;
}

